body {
	margin:0;
	padding:0;
        background-image:url(https://webstockreview.net/images/feast-clipart-business-luncheon-1.png);
	background-size: cover;
	background-position:center;
	font-family:sans-serif;

}
