table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #000;
    font-family:'Montserrat', sans-serif ;
    box-shadow:  0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
    font-size: 20px;
}
  
th, td {
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(odd){background-color:#fff;}
tr:nth-child(even){background-color: #f6f5f7;}
td {
    font-size: 15px;
}


