body {
    background: #f6f5f7;
}
.buttons  {
    position: absolute;
    top:80px;
    left: 340px;
}
table, th, td {
    border-collapse:collapse;
    border:1px solid black;
    border-spacing: 0;
    font-family: 'Montserrat', sans-serif ; 
    text-align: center;
    background: #fff;
}
th,td{
    padding:10px 5px;
}
.center{
    position: relative;
     top:150px;
     left:380px;
     box-shadow:  0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.mess-menu-button{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size:12px;
    font-weight: bold;
    padding :12px 25px;
    letter-spacing:1px;
    text-transform:uppercase;
}
button.monday{
    background:#f60000;
    border:none;
}
button.tuesday{
    border:none;
    background:#ff8c00;
}
button.wednesday{
    border:none;
    background:#ffee00;
}
button.thursday{
    border:none;
    background:#4de94c;
}
button.friday{
    border:none;
    background:#43b8ff;
}
button.saturday{
    border:none;
    background:#3783ff;
}
button.sunday{
    border:none;
    background:#4815aa;
}
td{
    line-height: 30px;
}
.mess-menu-input{
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin:8px 0;
    width: 80%;
    height:100%
}
button.mess-menu-submit {
    border:1px solid #ff4b2b;
    background: #ff4b2b;
}
