* {
    box-sizing: border-box;
  }
  
  .navigation{
    position: absolute;
    width:1535px;
    background:#38acec;
    height:70px;
    padding:16px;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
.stureg-heading{
    position: absolute;
    top:13px;
    left:565px;
}
.auth-menu-nav{
    border-radius: 20px;
    border:1px solid #fff;
    background: #fff;
    color: #000;
    font-size:12px;
    font-weight: bold;
    padding :10px 25px;
    letter-spacing:1px;
    text-transform:uppercase;
    transition: transform 80ms ease-in;
    text-decoration: none;
    border-color: #fff;
}
.auth-menu-nav:active {
    transform: scale(0.95);
    text-decoration: none;
  }
  .auth-menu-nav:hover {
    color: #000;
    text-decoration: none;
  }
.auth-menu-nav:focus {
    outline:none;
    text-decoration: none;
}
.auth-count-position{
    position: absolute;
    top:16px;
    left:170px;
}
.auth-count{
border-radius: 20px;
    border:1px solid #fff;
    background: #fff;
    color: #000;
    font-size:12px;
    font-weight: bold;
    padding :10px 25px;
    letter-spacing:1px;
    text-transform:uppercase;
    transition: transform 80ms ease-in;
    text-decoration: none;
    border-color: #fff;
}
.auth-count:active {
    transform: scale(0.95);
    text-decoration: none;
  }
  .auth-count:hover {
    color: #000;
    text-decoration: none;
  }
.auth-count:focus {
    outline:none;
    text-decoration: none;
}
.stureg-logout-position{
    position: absolute;
    left:1406px;
    top:16px;
}
.stureg-logout{
    border-radius: 20px;
    border:1px solid #fff;
    background: #fff;
    color: #000;
    font-size:12px;
    font-weight: bold;
    padding :10px 25px;
    letter-spacing:1px;
    text-transform:uppercase;
    transition: transform 80ms ease-in;
    text-decoration: none;
    border-color: #fff;
}
.stureg-logout:active {
    transform: scale(0.95);
    text-decoration: none;
  }
  .stureg-logout:hover {
    color: #000;
    text-decoration: none;
  }
.stureg-logout:focus {
    outline:none;
    text-decoration: none;
}


  .Studentregister {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    
  }
  
  h1 {
      font-weight:bold;
      margin: 0;
    }
    
  p {
      font-size:14px;
      font-weight:100;
      line-height: 20px;
      letter-spacing:0.5px;
      margin:20px 0 30px;
  }
  .Studentregister-container {
      background: #fff;
      border-radius: 10px;
      box-shadow:  0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
      position:relative;
      overflow:hidden;
      width:768px;
      max-width:100%;
      min-height:480px;
  }
  .Studentregister-form-container form {
      background:#fff;
      display:flex;
      flex-direction:column;
      padding: 0 50px;
      height :100%;
      justify-content: center;
      align-items:center;
      text-align: center;
  }
  
  .Studentregister-form-container input{
      background: #eee;
      border: none;
      padding: 12px 15px;
      margin:8px 0;
      width: 100%;
  }
  
  .Studentregister-button {
      border-radius: 20px;
      border:1px solid #38acec;
      background: #38acec;
      color: #fff;
      font-size:12px;
      font-weight: bold;
      padding :12px 45px;
      letter-spacing:1px;
      text-transform:uppercase;
      transition: transform 80ms ease-in;
  }
  .Studentregister-button:active {
      transform: scale(0.95);
    }
  .Studentregister-button:focus {
      outline:none;
  }
  button.ghost {
      background: transparent;
      border-color:#fff;
    }
  .Studentregister-form-container {
      position:absolute;
      top:0;
      height:100%;
      transition:all 0.6s ease-in-out;
  }
  .Studentregister-sign-in-container {
      left:0;
      width:50%;
      z-index:2;
  }
  .Studentregister-overlay-container {
      position: absolute;
      top:0;
      left:50%;
      width: 50%;
      height:100%;
      overflow:hidden;
      transition:transform 0.6s ease-in-out;
      z-index:100;
    }
  .Studentregister-overlay {
      background: #38acec;
      background:linear-gradient(to right, #1569c7, #38acec) no-repeat 0 0 / cover;
      color: #fff;
      position:relative;
      left: -100%;
      height:100%;
      width:200%;
      transform: translateX(0);
      transition:transform 0.6s ease-in-out;
    
    }
  .Studentregister-overlay-panel{
      position:absolute;
      top:0;
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
      height:100%;
      width: 50%;
      text-align: center;
      transform: translateX(0);
      transition:transform 0.6s ease-in-out;
  }
  .Studentregister-overlay-right{
      right:0;
      transform: translateX(0);
    }
    .Studentregister-link{
      border-radius: 20px;
      border:1px solid #1569c7;
      background: #1569c7;
      
      color: #fff;
      font-size:12px;
      font-weight: bold;
      padding :12px 45px;
      letter-spacing:1px;
      text-transform:uppercase;
      transition: transform 80ms ease-in;
      text-decoration: none;
      border-color: #fff;
  }
  .Studentregister-link:active {
      transform: scale(0.95);
      text-decoration: none;
    }
    .Studentregister-link:hover {
      color: #fff;
      text-decoration: none;
    }
  .Studentregister-link:focus {
      outline:none;
      text-decoration: none;
  }
  