body {
    background: #f6f5f7;
}
table, th, td {
    border-collapse:collapse;
    border:1px solid black;
    border-spacing: 0;
    font-family: 'Montserrat', sans-serif ; 
    text-align: center;
    
    background: #fff;
}
th,td{

    padding:10px 5px;
    
}
.Student_list_table{
   
    position: relative;
    top:150px;
    left:380px;
    box-shadow:  0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}