*{
    box-sizing: border-box;
}

.tellmetwo{
    margin:0;
    padding:0;
    background:url(collagefood4.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    font-family:  'Montserrat', sans-serif;
    width:1500px;
    height:750px;
    position:absolute;
    
    left:18px;
}

.box{
    padding: 20px;
    background-color: white;
    color:black;
    text-align:center;
    line-height: 20px;
    position: absolute;
    top:300px;
    left:535px;
    border-radius:50px;
    
    
}


.Messauth{
    border-radius: 20px;
    border:1px solid #38acec;
    background: #38acec;
    
    color: #fff;
    font-size:12px;
    font-weight: bold;
    padding :12px 45px;
    letter-spacing:1px;
    text-transform:uppercase;
    transition: transform 80ms ease-in;
    text-decoration: none;
    border-color: #fff;
}
.Messauth:active {
    transform: scale(0.95);
    text-decoration: none;
  }
  .Messauth:hover {
    color: #fff;
    text-decoration: none;
  }
.Messauth:focus {
    outline:none;
    text-decoration: none;
}
.Student{
    border-radius: 20px;
    border:1px solid #38acec;
    background: #38acec;
    
    color: #fff;
    font-size:12px;
    font-weight: bold;
    padding :12px 45px;
    letter-spacing:1px;
    text-transform:uppercase;
    transition: transform 80ms ease-in;
    text-decoration: none;
    border-color: #fff;
}
.Student:active {
    transform: scale(0.95);
    text-decoration: none;
  }
.Student:hover {
    color: #fff;
    text-decoration: none;
  }
.Student:focus {
    outline:none;
    text-decoration: none;
}
